body {
    width: 1600x;
    height: 1200px;    
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-image: url(imagens/Background.jpg);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.superiorLeft{
    display: flex;
    margin-left: 50px;
}

.logo {
    width: 33px;
}

.line2 {
    width: 1px;
    height: 40px;
    margin-left: 10px;
}

.defi{
    height: 200;
    margin-left: 10px;
    margin-top: 15px;
}

.nav{
    margin-right: 50px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.profile {
    display: flex;
    gap: 70px;
    margin: 50px;
}

#profile_img {
    width: 500px;
    height: 745px;
    margin-left: 100px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.profile-content {
    max-width: 600px;
}

.profile-content h1 {
    margin-top: 100px;
    font-size: 28px;
}

.profile-content p {
    text-align: justify;
    color: rgba(255, 255, 255, 0.46);
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10x;
}

.carousel-container {
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 500px;
}

.carousel {
    display: flex;
    transition: transform 0.2s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    flex-shrink: 0;
}

.carousel img {
    width: 526px;
    height: 300px;
    display: block;
    border-radius: 16px;
    box-shadow: #FFF;
}

.custom-range {
    -webkit-appearance: none;
    appearance: none; 
    width: 680px;
    height: 3;
    background: #ccc;
    cursor: auto;
    margin-top: 10px;
    margin-left: -150px;
}

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 3px;
    height: 28px;
    background: #fff;
    cursor: auto;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.custom-range::-webkit-slider-runnable-track {
    height: 3px;
    background: #ffffff;
    border-radius: 50px;
}

.social-section {
    display: flex;
    align-items: center;
    margin-top: 150px;
    gap: 10px;
    padding: 50px;
}

.social-section p {
    font-size: 25px;
    margin: 0;
}

.social-icons img {
    width: 36px;
    height: 36px;
}